div.nav {
    background-color: #333;
    height: 55px;
}
ul.primary-nav {
    list-style-type: none;
    margin-left: 30%;
    padding: 0;
    overflow: hidden;
}

li.primary-nav {
    float: left;
}

li.primary-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.primary-nav a:hover {
    background-color: #111;
}

.header img {
    float: left;
    margin: 10px;
}

